{include file="Public/header" /}
    <!--<div class="pad margin no-print">-->
        <!--<div class="alert alert-info" style="margin-bottom: 0!important;">-->
            <!--<i class="fa fa-info"></i>-->
            <!--<b>Note:</b> This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.-->
        <!--</div>-->
    <!--</div>-->

    <section class="content invoice">

        <div class="callout callout-info">
            <h4>Hi,Welcome admins</h4>
            <p>This is my blog home page.</p>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<h2 class="page-header">-->
                    <!--<i class="fa fa-globe"></i> AdminLTE, Inc.-->
                    <!--<small class="pull-right">Date: 2/10/2014</small>-->
                <!--</h2>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<div class="box box-solid">-->
                <!--<div class="box-header">-->
                    <!--<h3 class="box-title">Carousel</h3>-->
                <!--</div>-->
                    <!--<div class="box-body">-->
                    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
                        <!--<ol class="carousel-indicators">-->
                            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>-->
                            <!--<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>-->
                            <!--<li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>-->
                        <!--</ol>-->
                        <!--<div class="carousel-inner">-->
                            <!--<div class="item">-->
                                <!--<img src="http://placehold.it/900x500/39CCCC/ffffff&amp;text=I+Love+Bootstrap" alt="First slide">-->
                                <!--<div class="carousel-caption">-->
                                    <!--First Slide-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item">-->
                                <!--<img src="http://placehold.it/900x500/3c8dbc/ffffff&amp;text=I+Love+Bootstrap" alt="Second slide">-->
                                <!--<div class="carousel-caption">-->
                                    <!--Second Slide-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item active">-->
                                <!--<img src="http://placehold.it/900x500/f39c12/ffffff&amp;text=I+Love+Bootstrap" alt="Third slide">-->
                                <!--<div class="carousel-caption">-->
                                    <!--Third Slide-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
                            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                        <!--</a>-->
                        <!--<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
                            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12 table-responsive">-->
                <!--<table class="table table-striped">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Qty</th>-->
                        <!--<th>Product</th>-->
                        <!--<th>Serial #</th>-->
                        <!--<th>Description</th>-->
                        <!--<th>Subtotal</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Call of Duty</td>-->
                        <!--<td>455-981-221</td>-->
                        <!--<td>El snort testosterone trophy driving gloves handsome</td>-->
                        <!--<td>$64.50</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Need for Speed IV</td>-->
                        <!--<td>247-925-726</td>-->
                        <!--<td>Wes Anderson umami biodiesel</td>-->
                        <!--<td>$50.00</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Monsters DVD</td>-->
                        <!--<td>735-845-642</td>-->
                        <!--<td>Terry Richardson helvetica tousled street art master</td>-->
                        <!--<td>$10.70</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Grown Ups Blue Ray</td>-->
                        <!--<td>422-568-642</td>-->
                        <!--<td>Tousled lomo letterpress</td>-->
                        <!--<td>$25.99</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
        <!--</div>-->

        <div class="row">
            <div class="col-xs-6">
                <p class="lead">系统信息</p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody><tr>
                            <th style="width:50%">IP</th>
                            <td>{$sys_info.ip}</td>
                        </tr>
                        <tr>
                            <th>城市</th>
                            <td>{$sys_info.city}</td>
                        </tr>
                        <tr>
                            <th>语言</th>
                            <td>{$sys_info.lang}</td>
                        </tr>

                        <tr>
                            <th>系统</th>
                            <td>{$sys_info.os}</td>
                        </tr>
                        <tr>
                            <th>浏览器</th>
                            <td>{$sys_info.browser}</td>
                        </tr>
                        <tr>

                            <th>日期</th>
                            <td>{$sys_info.date}</td>
                        </tr>
                        </tbody></table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
{include file="Public/footer" /}