{include file="Public/header"/}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Blog-Box -->
            <section class="article">
                <!--- Article-Head -->
                <div class="article-head">
                    <h1 class="article-title text-center">留言板</h1>
                    <div class="article-info">
                        <span class="article-author navy">King</span>
                        <span class="article-time">2015-05-18</span>
                        <span class="article-view pull-right">阅读:<span class="article-count red">8,550</span></span>
                        <span class="article-view pull-right">评论:<span class="article-count"><a href="http://www.ldstars.com/message#comments">26</a></span></span>						</div>
                </div>
                <!--- //Article-Head -->

                <!--- Article-content -->
                <div class="article-content">
                    <div id="cShow">
                        <center><font color="#FFF100"><wbr><font color="#00AEEF"><wbr>●</font>
                            <wbr>
                        </font>
                            <wbr>
                            <br> <font size="6" style="line-height:1.5em"><wbr><font color="#FFF100"><wbr>●</font>
                                <wbr>
                            </font>
                            <wbr> <font color="#8FC63D"><wbr>●</font>
                            <wbr>
                            <br> <font color="#EE1000"><wbr>●</font>
                            <wbr>
                            <br> <font color="#39B778"><wbr>●</font>
                            <wbr>
                            <br> <font size="4" style="line-height:1.5em"><wbr><font color="#8FC63D"><wbr>●</font>
                                <wbr>
                            </font>
                            <wbr>
                            <br> <font size="5" style="line-height:1.5em"><wbr><font color="#F16C4D"><wbr>●</font>
                                <wbr>
                            </font>
                            <wbr>
                        </center>
                        <br>
                        <center><font color="#8FC63D"><wbr><font size="6" style="line-height:1.5em"><wbr>＊</font>
                            <wbr><font color="#00AEEF"><wbr>有什么想说的~在这里告诉我吧</font>
                            <wbr><font color="#8FC63D"><wbr><font size="6" style="line-height:1.5em"><wbr>＊</font>
                                <wbr>
                                <center>
                                    <br>  <font color="#F49BC1"><wbr> ━━━━━━━━━━━━</font>
                                    <wbr><font color="#EF6EA8"><wbr><font face="Webdings"><wbr>=</font>
                                    <wbr>
                                </font>
                                    <wbr><font color="#EF6EA8"><wbr><font face="Webdings"><wbr>=</font>
                                    <wbr>
                                </font>
                                    <wbr><font color="#F49BC1"><wbr>━━━━</font>
                                    <wbr>
                                    <br>
                                    <center><font color="00AEEF"><wbr>朋友留言</font>
                                        <wbr>
                            </font>
                            <wbr>
                        </font>
                            <wbr>
                        </center>
                        </center>
                        <br>
                        </font>
                        <wbr>
                        </font>
                        <wbr>
                        </center>
                    </div>
                </div>
                <!--- //Article-content -->

                <div class="award">
                    <p><a href="javascript:void(0)" id="award" title="打赏，支持一下">打赏</a></p>
                </div>

                <div class="award_box">
                    <div class="award_payimg">
                        <img src="picture/alipayimg.jpg" alt="扫码支持" title="扫一扫" />
                    </div>
                    <div class="pay_explain">扫码打赏，你说多少就多少</div>
                    <div class="award_payselect">
                        <div class="pay_item checked" data-id="alipay">
                            <span class="radiobox"></span>
                            <span class="pay_logo"><img src="picture/alipay.jpg" alt="支付宝" /></span>
                        </div>
                        <div class="pay_item" data-id="weipay">
                            <span class="radiobox"></span>
                            <span class="pay_logo"><img src="picture/wechat.jpg" alt="微信" /></span>
                        </div>
                    </div>
                    <div class="award_info">
                        <p>打开<span id="award_pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
                    </div>
                </div>

                <div class="comments">
                    <h3>精彩评论</h3>
                    <div id="comments"><span style="font-weight:bold;font-size:14px;margin-right:30px;">全部回复</span><span style="color: #f60;font-size:18px;font-weight: bold;">26</span>人评论<span style="color: #f60;font-size:18px;margin-left:30px;font-weight: bold;">8,550</span>人参与</div>
                    <!-- 评论列表-->
                    <div id="comment-lists">
                        <ol class="commentlist">
                            <li class="comment even thread-even depth-1" id="comment-268">
                                <div id="div-comment-268" class="comment-body">
                                    <div class="gravatar">
                                        <div class="comment-author vcard">
                                            <img alt='' src='picture/5e567e3377274f53bd333b93dbf10d22.gif' srcset='http://2.gravatar.com/avatar/eb2e41b1f0921ba81faef40e681baadb?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                    </div>
                                    <div class="floor">1楼</div>
                                    <div class="commenttext">
                                        <span class="commentid"><span class="comment_author">www.techbulo.com</span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                        <div class="comment_text">
                                            <p>路过   来瞅瞅</p>
                                        </div>
                                        <div class="comment-info">
                                            <span class="datetime"><i class="fa fa-clock-o"></i>2016-09-24 12:59:50</span>
                                            <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=268#respond' onclick='return addComment.moveForm( "div-comment-268", "268", "respond", "11" )' aria-label='回复给www.techbulo.com'>回复</a></span><span class="edit_comment"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>	<li class="comment odd alt thread-odd thread-alt depth-1" id="comment-216">
                            <div id="div-comment-216" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/04885da27f7e45308d9bbcccd30d7019.gif' srcset='http://0.gravatar.com/avatar/9b213522615ba96e15c137326ee48b59?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">2楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://www.wanghang.win/' rel='external nofollow' target='_blank' class='url'>HappyDays</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>路过，学习，支持下。</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2016-06-10 03:42:37</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=216#respond' onclick='return addComment.moveForm( "div-comment-216", "216", "respond", "11" )' aria-label='回复给HappyDays'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                        </li>	<li class="comment even thread-even depth-1" id="comment-140">
                            <div id="div-comment-140" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/e4c1a628571b499e8c6648f6117f28f6.gif' srcset='http://1.gravatar.com/avatar/df4baa5d976af13ba0ac89845db349d1?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">3楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://tengshaowu.cn' rel='external nofollow' target='_blank' class='url'>滕绍武博客</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <blockquote><p>签到成功！签到时间：下午6:43:31，每日打卡，生活更精彩哦~</p></blockquote>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-12-05 06:41:24</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=140#respond' onclick='return addComment.moveForm( "div-comment-140", "140", "respond", "11" )' aria-label='回复给滕绍武博客'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                        </li>	<li class="comment odd alt thread-odd thread-alt depth-1" id="comment-124">
                            <div id="div-comment-124" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/0a354f09acc04bc3aada5577e2e1cba3.gif' srcset='http://2.gravatar.com/avatar/5988ddb905f83a4d5998c7bbb203f520?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">4楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://gaga.me' rel='external nofollow' target='_blank' class='url'>gaga</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>主题不错！！！！！！！！！！！</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-11-24 10:39:54</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=124#respond' onclick='return addComment.moveForm( "div-comment-124", "124", "respond", "11" )' aria-label='回复给gaga'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-admin bypostauthor even depth-2" id="comment-127">
                                    <div id="div-comment-127" class="comment-body">
                                        <div class="gravatar">
                                            <div class="comment-author vcard">
                                                <img alt='' src='picture/a6c180fa58e24e129dcbdfdfbe2add9f.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                        </div>
                                        <div class="floor"></div>
                                        <div class="commenttext">
                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>律动星光</a></span><a class="vp" title="本站博主">博主</a></span>
                                            <div class="comment_text">
                                                <p><a href="#comment-124" style="color: #FF6600;">@gaga</a> 谢谢~</p>
                                            </div>
                                            <div class="comment-info">
                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-11-26 09:08:22</span>
                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=127#respond' onclick='return addComment.moveForm( "div-comment-127", "127", "respond", "11" )' aria-label='回复给律动星光'>回复</a></span><span class="edit_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li></ul><!-- .children -->
                        </li>	<li class="comment odd alt thread-even depth-1" id="comment-72">
                            <div id="div-comment-72" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/97c26ceceb3f4972ad7544e86154eaa8.gif' srcset='http://2.gravatar.com/avatar/b0b3427e8a22bcf17627ff22d92d82a4?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">5楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://2seo.cc/' rel='external nofollow' target='_blank' class='url'>榆林seo</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>主题好棒，和想要</p>
                                        <blockquote><p>签到成功！签到时间：下午7:40:32，每日打卡，生活更精彩哦~</p></blockquote>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-09-14 07:41:06</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=72#respond' onclick='return addComment.moveForm( "div-comment-72", "72", "respond", "11" )' aria-label='回复给榆林seo'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                        </li>	<li class="comment even thread-odd thread-alt depth-1" id="comment-22">
                            <div id="div-comment-22" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/fdbef64e429e49e6a0f28346c1518e78.gif' srcset='http://1.gravatar.com/avatar/d378a2a3bc01cc45c09e1a3076a2f795?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">6楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://www.aimeiribao.com' rel='external nofollow' target='_blank' class='url'>北斗天狼</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>网站内容很吸引人，而且主题很漂亮，很多主题作者现在都在走类似主题的路线。</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-22 09:37:49</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=22#respond' onclick='return addComment.moveForm( "div-comment-22", "22", "respond", "11" )' aria-label='回复给北斗天狼'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-24">
                                    <div id="div-comment-24" class="comment-body">
                                        <div class="gravatar">
                                            <div class="comment-author vcard">
                                                <img alt='' src='picture/a6c180fa58e24e129dcbdfdfbe2add9f.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                        </div>
                                        <div class="floor"></div>
                                        <div class="commenttext">
                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>律动星光</a></span><a class="vp" title="本站博主">博主</a></span>
                                            <div class="comment_text">
                                                <p><a href="#comment-22" style="color: #FF6600;">@北斗天狼</a> 那我就得要走自己的路线了~~</p>
                                            </div>
                                            <div class="comment-info">
                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-22 10:07:40</span>
                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=24#respond' onclick='return addComment.moveForm( "div-comment-24", "24", "respond", "11" )' aria-label='回复给律动星光'>回复</a></span><span class="edit_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li></ul><!-- .children -->
                        </li>	<li class="comment even thread-even depth-1" id="comment-14">
                            <div id="div-comment-14" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/a91977eac679455ba503c333ec40fb16.gif' srcset='http://1.gravatar.com/avatar/a308998b89496bd84eb22e495735b2e1?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">7楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://www.kejihezi.com/' rel='external nofollow' target='_blank' class='url'>科技盒子www.kejihezi.com</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>这个是什么主题啊</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-21 12:38:36</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=14#respond' onclick='return addComment.moveForm( "div-comment-14", "14", "respond", "11" )' aria-label='回复给科技盒子www.kejihezi.com'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-15">
                                    <div id="div-comment-15" class="comment-body">
                                        <div class="gravatar">
                                            <div class="comment-author vcard">
                                                <img alt='' src='picture/a6c180fa58e24e129dcbdfdfbe2add9f.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                        </div>
                                        <div class="floor"></div>
                                        <div class="commenttext">
                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>律动星光</a></span><a class="vp" title="本站博主">博主</a></span>
                                            <div class="comment_text">
                                                <p><a href="#comment-14" style="color: #FF6600;">@科技盒子www.kejihezi.com</a> 自己写的主题。</p>
                                            </div>
                                            <div class="comment-info">
                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-21 04:21:39</span>
                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=15#respond' onclick='return addComment.moveForm( "div-comment-15", "15", "respond", "11" )' aria-label='回复给律动星光'>回复</a></span><span class="edit_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment even depth-3" id="comment-16">
                                            <div id="div-comment-16" class="comment-body">
                                                <div class="gravatar">
                                                    <div class="comment-author vcard">
                                                        <img alt='' src='picture/a91977eac679455ba503c333ec40fb16.gif' srcset='http://1.gravatar.com/avatar/a308998b89496bd84eb22e495735b2e1?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                                </div>
                                                <div class="floor"></div>
                                                <div class="commenttext">
                                                    <span class="commentid"><span class="comment_author"><a href='http://www.kejihezi.com/' rel='external nofollow' target='_blank' class='url'>科技盒子www.kejihezi.com</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                                    <div class="comment_text">
                                                        <p><a href="#comment-15" style="color: #FF6600;">@律动星光</a> 可不可以给我一份呢</p>
                                                    </div>
                                                    <div class="comment-info">
                                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-22 10:37:42</span>
                                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=16#respond' onclick='return addComment.moveForm( "div-comment-16", "16", "respond", "11" )' aria-label='回复给科技盒子www.kejihezi.com'>回复</a></span><span class="edit_comment"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="children">
                                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-4" id="comment-17">
                                                    <div id="div-comment-17" class="comment-body">
                                                        <div class="gravatar">
                                                            <div class="comment-author vcard">
                                                                <img alt='' src='picture/a6c180fa58e24e129dcbdfdfbe2add9f.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                                        </div>
                                                        <div class="floor"></div>
                                                        <div class="commenttext">
                                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>律动星光</a></span><a class="vp" title="本站博主">博主</a></span>
                                                            <div class="comment_text">
                                                                <p><a href="#comment-16" style="color: #FF6600;">@科技盒子www.kejihezi.com</a> 这个主题打算出售的。</p>
                                                            </div>
                                                            <div class="comment-info">
                                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-22 12:41:37</span>
                                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=17#respond' onclick='return addComment.moveForm( "div-comment-17", "17", "respond", "11" )' aria-label='回复给律动星光'>回复</a></span><span class="edit_comment"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li></ul><!-- .children -->
                                        </li></ul><!-- .children -->
                                </li></ul><!-- .children -->
                        </li>	<li class="comment even thread-odd thread-alt depth-1" id="comment-12">
                            <div id="div-comment-12" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/930efbf8c8984e47a0d4c83aee61d372.gif' srcset='http://1.gravatar.com/avatar/485067ab3e3c0f820db898c1a4248955?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">8楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://meowv.com' rel='external nofollow' target='_blank' class='url'>阿星</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>路过，支持一下。</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-18 05:17:01</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=12#respond' onclick='return addComment.moveForm( "div-comment-12", "12", "respond", "11" )' aria-label='回复给阿星'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-starsss odd alt depth-2" id="comment-13">
                                    <div id="div-comment-13" class="comment-body">
                                        <div class="gravatar">
                                            <div class="comment-author vcard">
                                                <img alt='' src='picture/312072efaf9b43198c5c4017f9fb71df.gif' srcset='http://1.gravatar.com/avatar/43d283cfe9b96742cad389185b482183?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                        </div>
                                        <div class="floor"></div>
                                        <div class="commenttext">
                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>Starsss</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                            <div class="comment_text">
                                                <p><a href="#comment-12" style="color: #FF6600;">@阿星</a> 谢谢~</p>
                                            </div>
                                            <div class="comment-info">
                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-18 06:46:24</span>
                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=13#respond' onclick='return addComment.moveForm( "div-comment-13", "13", "respond", "11" )' aria-label='回复给Starsss'>回复</a></span><span class="edit_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li></ul><!-- .children -->
                        </li>	<li class="comment even thread-even depth-1" id="comment-8">
                            <div id="div-comment-8" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/8aae969cd03047fea44d7e4b68aa442e.gif' srcset='http://2.gravatar.com/avatar/8653544e3c87ad98605dd8c0059fcfc1?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">9楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://www.myscbz.com' rel='external nofollow' target='_blank' class='url'>留芳网</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>支持一下。</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-16 11:50:11</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=8#respond' onclick='return addComment.moveForm( "div-comment-8", "8", "respond", "11" )' aria-label='回复给留芳网'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-9">
                                    <div id="div-comment-9" class="comment-body">
                                        <div class="gravatar">
                                            <div class="comment-author vcard">
                                                <img alt='' src='picture/a6c180fa58e24e129dcbdfdfbe2add9f.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                        </div>
                                        <div class="floor"></div>
                                        <div class="commenttext">
                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>律动星光</a></span><a class="vp" title="本站博主">博主</a></span>
                                            <div class="comment_text">
                                                <p><a href="#comment-8" style="color: #FF6600;">@留芳网</a> 谢谢，已回访。</p>
                                            </div>
                                            <div class="comment-info">
                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-17 09:38:13</span>
                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=9#respond' onclick='return addComment.moveForm( "div-comment-9", "9", "respond", "11" )' aria-label='回复给律动星光'>回复</a></span><span class="edit_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li></ul><!-- .children -->
                        </li>	<li class="comment even thread-odd thread-alt depth-1" id="comment-5">
                            <div id="div-comment-5" class="comment-body">
                                <div class="gravatar">
                                    <div class="comment-author vcard">
                                        <img alt='' src='picture/c8372755d9324a1e871eca5bcb2fe24f.gif' srcset='http://0.gravatar.com/avatar/02780dce7acfbbb39d7411169be13d17?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                </div>
                                <div class="floor">10楼</div>
                                <div class="commenttext">
                                    <span class="commentid"><span class="comment_author"><a href='http://www.dkj.com' rel='external nofollow' target='_blank' class='url'>米名</a></span><a data-hint="潜水" class="hint hint--top"><i class="fa fa-star yellow"></i></a></span>
                                    <div class="comment_text">
                                        <p>😈   不知道作者能否给个联系方式，想买一份网盘解析源码 谢谢</p>
                                    </div>
                                    <div class="comment-info">
                                        <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-14 03:49:30</span>
                                        <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=5#respond' onclick='return addComment.moveForm( "div-comment-5", "5", "respond", "11" )' aria-label='回复给米名'>回复</a></span><span class="edit_comment"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-7">
                                    <div id="div-comment-7" class="comment-body">
                                        <div class="gravatar">
                                            <div class="comment-author vcard">
                                                <img alt='' src='picture/a6c180fa58e24e129dcbdfdfbe2add9f.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=100&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50' />			</div>
                                        </div>
                                        <div class="floor"></div>
                                        <div class="commenttext">
                                            <span class="commentid"><span class="comment_author"><a href='http://www.ldstars.com' rel='external nofollow' target='_blank' class='url'>律动星光</a></span><a class="vp" title="本站博主">博主</a></span>
                                            <div class="comment_text">
                                                <p><a href="#comment-5" style="color: #FF6600;">@米名</a> 你联系我的QQ：179128345</p>
                                            </div>
                                            <div class="comment-info">
                                                <span class="datetime"><i class="fa fa-clock-o"></i>2015-07-16 10:13:55</span>
                                                <span class="reply"><i class="fa fa-reply"></i><a rel='nofollow' class='comment-reply-link' href='http://www.ldstars.com/message?replytocom=7#respond' onclick='return addComment.moveForm( "div-comment-7", "7", "respond", "11" )' aria-label='回复给律动星光'>回复</a></span><span class="edit_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li></ul><!-- .children -->
                        </li>		</ol>
                        <div class="navigation">
                            <div id="comments-navi"><span class='page-numbers current'>1</span>
                                <a class='page-numbers' href='http://www.ldstars.com/message/comment-page-2#comments'>2</a>
                                <a class="next page-numbers" href="http://www.ldstars.com/message/comment-page-2#comments">下一页</a></div>
                        </div>
                    </div>
                    <!-- //评论列表-->
                    <div id="respond">
                        <p>
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/message#respond" style="display:none;">【取消回复】</a></small></h3>			<form action="http://www.ldstars.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                        <p class="comment-notes"><span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用<span class="required">*</span>标注</p><p class="col-md-12 comments-form"><textarea id="comment" name="comment" tabindex="4" cols="40" rows="3" aria-required="true"></textarea></p><label for="comment_mail_notify" style="display:none"><input type="checkbox" name="comment_mail_notify" id="comment_mail_notify" value="comment_mail_notify" checked="checked"/>有人回复时邮件通知我</label><div id="comment-author-info"><p class="comment-form-author col-md-4"><input name="author" type="text" placeholder="昵称：*" value="" size="30" /></p>
                        <p class="comment-form-email col-md-4"><input name="email" type="text" placeholder="邮箱：*" value="" size="30" /></p>
                        <p class="comment-form-url col-md-4"><input name="url" type="text" placeholder="网址" value="" size="30" /></p></div>
                        <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="发表评论" /> <input type='hidden' name='comment_post_ID' value='11' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                        </p>		<p class="antispam-group antispam-group-q" style="clear: both;">
                        <label>Current ye@r <span class="required">*</span></label>
                        <input type="hidden" name="antspm-a" class="antispam-control antispam-control-a" value="2017" />
                        <input type="text" name="antspm-q" class="antispam-control antispam-control-q" value="4.3" autocomplete="off" />
                    </p>
                        <p class="antispam-group antispam-group-e" style="display: none;">
                            <label>Leave this field empty</label>
                            <input type="text" name="antspm-e-email-url-website" class="antispam-control antispam-control-e" value="" autocomplete="off" />
                        </p>
                        </form>
                    </div><!-- #respond -->
                    <div id="loading-img"><img src="picture/loading_com.gif" alt="loading" /></div>
                    <div id="error-comments"></div>
                    <script type="text/javascript">	//快捷回复 Ctrl+Enter
                    //<![CDATA[
                    jQuery(document).keypress(function(e){
                        if(e.ctrlKey && e.which == 13 || e.which == 10) {
                            jQuery(".submit").click();
                            document.body.focus();
                        } else if (e.shiftKey && e.which==13 || e.which == 10) {
                            jQuery(".submit").click();
                        }
                    })
                    // ]]>
                    //<![CDATA[
                    var changeMsg = "[ 编辑信息 ]";
                    var closeMsg = "[ 隐藏信息 ]";
                    function toggleCommentAuthorInfo() {
                        jQuery('#comment-author-info').slideToggle('slow', function(){
                            if ( jQuery('#comment-author-info').css('display') == 'none' ) {
                                jQuery('#toggle-comment-author-info').text(changeMsg);
                            } else {
                                jQuery('#toggle-comment-author-info').text(closeMsg);
                            }
                        });
                    }
                    //]]>
                    </script>
                </div>
        </div>
        </section>
        <!-- //Blog-Box -->
    </div>
</div>
</div>

<!-- Back-To-Top -->
<div class="top">
    <a href="javascript:void(0);" id="back-to-top"><i class="fa fa-arrow-up fa-3x"></i></a>
</div>
<!-- //Back-To-Top -->
<script type='text/javascript'>
    /* <![CDATA[ */
    var ajaxcomment = {"ajax_url":"http:\/\/www.ldstars.com\/wp-admin\/admin-ajax.php","order":"desc","formpostion":"bottom"};
    /* ]]> */
</script>
<script type='text/javascript' src='js/430ac79e976649c688d41df608208b2e.js'></script>
<script type='text/javascript' src='js/jbox.min.js'></script>
<script type='text/javascript' src='js/function.js'></script>
<script type='text/javascript' src='js/jquery.barrager.min.js'></script>
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=12844460128595975264' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>	<script type="text/javascript">
    $('#award').jBox('Modal', {
        title: '感谢您的支持，我会继续努力的!',
        content: $('.award_box'),
        animation: 'pulse',
    });

    $(".pay_item").click(function(){
        $(this).addClass('checked').siblings('.pay_item').removeClass('checked');
        var dataid=$(this).attr('data-id');
        $(".award_payimg img").attr("src","http://www.ldstars.com/wp-content/themes/bulletin/img/"+dataid+"img.jpg");
        $("#award_pay_txt").text(dataid=="alipay"?"支付宝":"微信");
    });
    new jBox('Image');
</script>
{include file="/Public/footer"/}

