 {include file="Public/header" /}
<div class="maintop">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6 slider">
                <div id="slide-box" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a target="_blank" href="http://www.ldstars.com/hlw/337.html">
                                <img src="/home/picture/d6795dcc389627e8c85c-2.jpg" alt="Bulletin主题最详细入门教程">
                            </a>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#slide-box" data-slide-to="0" class="active">

                            </li>
                        </ol>
                        <a class="left carousel-control" href="#slide-box" role="button" data-slide="prev">
                            <i class="fa fa-chevron-circle-left glyphicon-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#slide-box" role="button" data-slide="next">
                            <i class="fa fa-chevron-circle-right glyphicon-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="hometop">
                    <h3 class="hometitle navy-bg">最新文章</h3>
                    <ul>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="给iPhone的信息添加多彩炫酷的动画效果"><span class="hometime">02-12</span>给iPhone的信息添加多彩炫酷的动画效果</a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="苹果产品为什么选择锂离子电池？"><span class="hometime">02-11</span>苹果产品为什么选择锂离子电池？</a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="arduino入门教程基础-模拟读取串口"><span class="hometime">02-10</span>arduino入门教程基础-模拟读取串口</a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="苹果官方 iPhone、iPad 和 iPod touch 电池保养小提示"><span class="hometime">02-10</span>苹果官方 iPhone、iPad 和 iPod touch 电池保养小提示</a></li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="苹果官方延长电池使用时间和寿命方法"><span class="hometime">02-09</span>苹果官方延长电池使用时间和寿命方法</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="hometop">
                    <div class="homeimg">
                        <img src="/home/picture/1486442852924.png">
                    </div>
                    <div class="homenote red-bg">
                        扫描二维码，加入律动星光网站交流群。
                        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=0b4e9f255a2164e3f5efd642ca945c8341f7cd9a569015ce4e833f525929695d">
                            <img border="0" src="/home/picture/group.png" alt="律动星光" title="律动星光">
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-9">
            <div class="cmsbox clearfix">
                <div class="cmstitle">
                    <h3><i class="fa fa-code"></i>编程设计</h3>
                    <a href="http://www.ldstars.com/program" class="pull-right">全部<i class="fa fa-chevron-right"></i></a>
                </div>
                <ul class="cmsul">
                    <li class="col-md-4 cmslist-2">
                        <a href="http://www.ldstars.com/program/arduino/353.html" class="jtooltip" title="arduino入门教程基础-模拟读取串口" target="_blank"><h4>
                        arduino入门教程基础-模拟读取串口</h4>
                            <div class="cmsmask-2">
                                <img width="300" height="225" src="/home/picture/75f5750f6dd6afbec57b-300x225.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                                <div class="cmslist-2-desc">这个例子向你展示了如何使用电位计（变阻器）读取来自物理世界的模拟输入。电位计...</div>
                            </div>
                            <div class="cmslist-2-info"><span><i class="fa fa-eye"></i>76</span><span><i class="fa fa-clock-o"></i>2017-02-10</span></div>
                        </a>
                    </li>
                    <li class="col-md-4 cmslist-2">
                        <a href="http://www.ldstars.com/program/c/311.html" class="jtooltip" title="利用localtime_s函数格式化输出当地日期与时间" target="_blank"><h4>利用localtime_s函数格式化输出当地日期与时间</h4>
                            <div class="cmsmask-2">
                                <img itemprop="image" class="media-object" src="/home/picture/thumb-2.jpg"/>
                                <div class="cmslist-2-desc">Visual C++ 6.0开发环境中显示当地日期与时间主要通过localtime()函数来实现，该函...</div>
                            </div>
                            <div class="cmslist-2-info"><span><i class="fa fa-eye"></i>1,181</span><span><i class="fa fa-clock-o"></i>2016-09-19</span></div>
                        </a>
                    </li>
                    <li class="col-md-4 cmslist-2">
                        <a href="http://www.ldstars.com/program/c/307.html" class="jtooltip" title="C语言asctime_s函数固定格式输出当前时间" target="_blank"><h4>C语言asctime_s函数固定格式输出当前时间</h4>
                            <div class="cmsmask-2"><img itemprop="image" class="media-object" src="/home/picture/thumb-4.jpg"/>
                                <div class="cmslist-2-desc">在visual studio 6.0里面，可以直接用localtime()把时间变量转换成结构体后再用 as...</div>
                            </div>
                            <div class="cmslist-2-info"><span><i class="fa fa-eye"></i>646</span><span><i class="fa fa-clock-o"></i>2016-09-18</span></div>
                        </a>
                    </li>
                    <li class="col-md-4 cmslist-2">
                        <a href="http://www.ldstars.com/program/python/293.html" class="jtooltip" title="Python 3.X GUI编程 No module named Tkinter 解决方案" target="_blank"><h4>Python 3.X GUI编程 No module named Tkinter解决方案</h4>
                            <div class="cmsmask-2">
                                <img width="300" height="225" src="/home/picture/23eeeb4347bdd26bfc6b-300x225.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                                <div class="cmslist-2-desc">今天用Python 3.6学习GUI编程，书上教程为Python 2.x版本，使用的模块为wxpython。...</div>
                            </div>
                            <div class="cmslist-2-info"><span><i class="fa fa-eye"></i>898</span><span><i class="fa fa-clock-o"></i>2016-09-03</span></div>
                        </a>
                    </li>
                    <li class="col-md-4 cmslist-2">
                        <a href="http://www.ldstars.com/program/php/285.html" class="jtooltip" title="非插件将Lightbox最新版整合到wordpress主题" target="_blank"><h4>非插件将Lightbox最新版整合到wordpress主题</h4>
                            <div class="cmsmask-2"><img width="300" height="225" src="/home/picture/25b2916b5c49db617f52-300x225.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                                <div class="cmslist-2-desc">Lightbox是一款原生图片灯箱脚本插件，已有8年历史，功能和性能越来越强大，外观也...</div>
                            </div>
                            <div class="cmslist-2-info"><span><i class="fa fa-eye"></i>519</span><span><i class="fa fa-clock-o"></i>2016-09-01</span></div>
                        </a>
                    </li>
                    <li class="col-md-4 cmslist-2">
                        <a href="http://www.ldstars.com/program/php/215.html" class="jtooltip" title="WordPress漏洞导致的恶意跳转临时解决方案" target="_blank">
                            <h4>WordPress漏洞导致的恶意跳转临时解决方案</h4>
                            <div class="cmsmask-2"><img itemprop="image" class="media-object" src="/home/picture/thumb-3.jpg"/>
                                <div class="cmslist-2-desc">之前博客发表过一篇文章：wordpress用户小心你的网站被植入恶意代码！现在看来不少...</div>
                            </div>
                            <div class="cmslist-2-info"><span><i class="fa fa-eye"></i>2,146</span><span><i class="fa fa-clock-o"></i>2015-12-17</span></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cmsbox clearfix">
                <div class="cmstitle"><h3><i class="fa fa-internet-explorer"></i>互联网</h3><a
                        href="http://www.ldstars.com/hlw" class="pull-right">全部<i class="fa fa-chevron-right"></i></a>
                </div>
                <ul class="cmsul">
                    <li class="col-md-3 cmslist"><a href="http://www.ldstars.com/hlw/346.html" target="_blank">
                        <div class="cmsdiv"><img itemprop="image" class="media-object" src="/home/picture/thumb-4.jpg"/>
                            <div class="cmsmask"><h3>用bulletin主题定制你的个性化网站</h3>
                                <p><span><i class="fa fa-eye"></i>227</span><span><i class="fa fa-clock-o"></i>2017-01-22</span>
                                </p></div>
                        </div>
                    </a></li>
                    <li class="col-md-3 cmslist"><a href="http://www.ldstars.com/hlw/344.html" target="_blank">
                        <div class="cmsdiv"><img itemprop="image" class="media-object" src="/home/picture/thumb-1.jpg"/>
                            <div class="cmsmask"><h3>用bulletin主题搭建网站之基本设置教程</h3>
                                <p><span><i class="fa fa-eye"></i>208</span><span><i class="fa fa-clock-o"></i>2017-01-20</span>
                                </p></div>
                        </div>
                    </a></li>
                    <li class="col-md-3 cmslist"><a href="http://www.ldstars.com/hlw/337.html" target="_blank">
                        <div class="cmsdiv"><img itemprop="image" class="media-object" src="/home/picture/thumb-4.jpg"/>
                            <div class="cmsmask"><h3>Bulletin主题文件结构及详细入门教程</h3>
                                <p><span><i class="fa fa-eye"></i>481</span><span><i class="fa fa-clock-o"></i>2017-01-19</span>
                                </p></div>
                        </div>
                    </a></li>
                    <li class="col-md-3 cmslist"><a href="http://www.ldstars.com/hlw/333.html" target="_blank">
                        <div class="cmsdiv"><img itemprop="image" class="media-object"
                                                 src="/home/picture/6446d860dbbfe540e9e2-576x450.png"/>
                            <div class="cmsmask"><h3>解决WordPress更换主题后缩略图变形问题</h3>
                                <p><span><i class="fa fa-eye"></i>159</span><span><i class="fa fa-clock-o"></i>2017-01-18</span>
                                </p></div>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="cmsbox clearfix">
                <div class="cmstitle"><h3><i class="fa fa-google"></i>谷歌插件</h3><a href="http://www.ldstars.com/chrome"
                                                                                  class="pull-right">全部<i
                        class="fa fa-chevron-right"></i></a></div>
                <ul class="cmsul">
                    <li class="col-md-3"><a href="http://www.ldstars.com/chrome/320.html" target="_blank">
                        <div class="cmslist-1"><img width="300" height="225"
                                                    src="/home/picture/27a5773a603825cc6999-300x225.jpg"
                                                    class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                            <div class="cmsmask-1"><h3>DJKK车载音乐免费下载扩展插件</h3>
                                <p><span><i class="fa fa-eye"></i>476</span><span><i class="fa fa-clock-o"></i>2016-10-16</span>
                                </p></div>
                        </div>
                    </a></li>
                    <li class="col-md-3">
                        <a href="http://www.ldstars.com/chrome/317.html" target="_blank">
                            <div class="cmslist-1">
                                <img width="256" height="225" src="/home/picture/6446d860dbbfe540e9e2-256x225.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                                <div class="cmsmask-1"><h3>直播订阅助手2.0 支持5大直播平台和直播下载</h3>
                                    <p><span><i class="fa fa-eye"></i>656</span><span><i class="fa fa-clock-o"></i>2016-10-05</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="http://www.ldstars.com/chrome/254.html" target="_blank">
                            <div class="cmslist-1">
                                <img width="300" height="225" src="/home/picture/3e43686f61620bfb197e-300x225.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                                <div class="cmsmask-1"><h3>Songtaste音乐复活听歌美化版插件</h3>
                                    <p><span><i class="fa fa-eye"></i>811</span><span><i class="fa fa-clock-o"></i>2016-08-14</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="http://www.ldstars.com/chrome/221.html" target="_blank">
                            <div class="cmslist-1"><img width="256" height="225" src="/home/picture/1d878d7d4d23e4080640-256x225.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/>
                                <div class="cmsmask-1"><h3>熊猫TV、虎牙直播、斗鱼TV、战旗TV直播订阅助手</h3>
                                    <p><span><i class="fa fa-eye"></i>1,748</span><span><i class="fa fa-clock-o"></i>2016-03-16</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
 		{include file="Public/right" /}
       
    </div>
</div>
{include file="Public/footer" /}

