
{include file="Public/header" /}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">标签列表</h3>
                        <div class="box-tools">
                            <div class="input-group">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th>ID</th>
                                <th>标签名</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>

                            {volist name="list" id="tag"}
	                            <tr>
	                                <td>{$tag.id}</td>
	                                <td>{$tag.name}</td>
	                                <td>{$tag.create_time}</td>
	                                <td>{$tag['status']==1? '<span class="label label-success">启用</span>' : '<span class="label label-danger">禁用</span>'}</td>
	                                <td>
	                                    {$tag['status']==1 ? '<button class="btn btn-warning btn-sm">禁用</button>':'<button class="btn btn-danger btn-sm">启用</button>'}
	                                </td>
	                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {$list->render()}
                    </div>

                </div>
            </div>
        </div>
    </section>
{include file="Public/footer" /}