<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 foot-item">
                <h3 class="foot-title">
                    关于我们
                </h3>
                <p>律动星光-网站开发 技术交流群：483749829 最有价值的网站技术群！！！</p>
            </div>
            <div class="col-md-4 foot-item">
                <h3 class="foot-title">
                    站点信息
                </h3>
                <ul id="menu" class="sitelink">
                    <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
                        <a href="/message">留言板</a>
                        </li>
                    <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
                        <a href="/about">关于我们</a>
                        </li>
                    <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
                        <a href="/freevpn">免费VPN</a>
                        </li>
                    <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56">
                        <a href="/pan">网盘外链</a>
                        </li>
                    <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96">
                        <a href="/links">友情链接</a>
                        </li>
                </ul>
            </div>
            <div class="col-md-4 foot-item">
                <h3 class="foot-title">
                    微信关注
                </h3>
                <p><img src="/home/picture/wx.png" alt="" class="qrcode"/></p>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        申明：本站文字除标明出处外皆为作者原创，转载请注明原文链接。
    </div>
    <div style="display: none">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1000014177'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000014177%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</footer>

<!-- Back-To-Top -->
<div class="top">
    <a href="javascript:void(0);" id="back-to-top"><i class="fa fa-arrow-up fa-3x"></i></a>
</div>
<!-- //Back-To-Top -->
<script type='text/javascript' src='/layui/layui.js'></script>
<script type='text/javascript' src='/home/js/93175b39f89f4c459a07199fa532e44d.js'></script>
<script type='text/javascript' src='/home/js/jbox.min.js'></script>
<script type='text/javascript' src='/home/js/function.js'></script>
<script type="text/javascript">(function () {
    document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
    var bdcs = document.createElement('script');
    bdcs.type = 'text/javascript';
    bdcs.async = true;
    bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=12844460128595975264' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000);
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(bdcs, s);
})();</script>
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});
</script> 
</body>
</html>
