<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>清梵如梦 - 黑夜遮不住光亮</title>
    <link rel='stylesheet' id='pure-highlightjs-style-group-css' href='/home/css/0d277b05ecdf4a6c89689fc1ff752d30.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='default-css' href='/home/css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/layui/css/layui.css' type='text/css' media='all'/>
    <script type='text/javascript' src='/home/js/9dc1b11c6ceb4502b584be6d830199d7.js'></script>
</head>
<body class="home blog">
<div class="navfilter"></div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#b-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><img src="/home/picture/logo.png" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="b-navbar-collapse">
            <ul id="menu-bulletin" class="nav navbar-nav">
                <li id="menu-item-332" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-332"><a title="首页" href="/index"><i class="fa fa-home red"></i>&nbsp;首页</a></li>
                <li id="menu-item-331"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-331 dropdown">
                    <a title="视点" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i class="fa fa-globe blue"></i>&nbsp;视点 <span class="caret"></span></a>
                    <ul role="menu" class=" dropdown-menu">
                        <li id="menu-item-236" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-236"><a title="故事" href="/post_index/1">故事</a></li>
                        <li id="menu-item-235" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-235"><a title="互联网" href="/post_index/2">互联网</a></li>
                        <li id="menu-item-310" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-310"><a title="物联网" href="/post_index/3">物联网</a></li>
                    </ul>
                </li>
                <li id="menu-item-269"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-269 dropdown">
                    <a title="编程开发" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i class="fa fa-code navy"></i>&nbsp;编程开发 <span class="caret"></span></a>
                    <ul role="menu" class=" dropdown-menu">
                        <li id="menu-item-237" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-237"><a title="PHP" href="php.html">PHP</a></li>
                        <li id="menu-item-238" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-238"><a title="MATLAB" href="/post_index/4">MATLAB</a></li>
                        <li id="menu-item-271" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-271"><a title="Javascript" href="/post_index/5">Javascript</a></li>
                        <li id="menu-item-308" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-308"><a title="C/C++" href="/post_index/6">C/C++</a></li>
                        <li id="menu-item-270" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-270 active"><a title="Android" href="/post_index/7">Android</a></li>
                        <li id="menu-item-272" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-272"><a title="谷歌插件" href="/post_index/8">谷歌插件</a></li>
                        <li id="menu-item-239" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-239"><a title="前端设计" href="/post_index/9">前端设计</a></li>
                    </ul>
                </li>
                <li id="menu-item-266"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-266 dropdown">
                    <a title="免费资源" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i
                            class="fa fa-paper-plane yellow"></i>&nbsp;免费资源 <span class="caret"></span></a>
                    <ul role="menu" class=" dropdown-menu">
                        <li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a title="免费VPN" href="/post_index/10">免费VPN</a></li>
                        <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268"><a title="网盘外链" href="/post_index/11">网盘外链</a></li>
                    </ul>
                </li>
                <li id="menu-item-345" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-345">
                    <a title="苹果体验馆" href="ios.html"><i class="fa fa-apple"></i>&nbsp;苹果体验馆</a>
                </li>
                <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309">
                    <a title="留言板" href="/message"><i class="fa fa-commenting purple"></i>&nbsp;留言板</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="banner">
    <form class="search-form center" action="/search">
        <div class="form-group">
            <input type="text" name="search" id="bdcsMain" class="form-control" placeholder="关键字...">
            <button type="submit" class="btn btn-default"><i class="fa fa-search navy"></i></button>
        </div>
    </form>
</div>
