        
        <!-- Widget-Box -->
        <div class="col-md-3 widget">
            <div class="widget-box">
                <div class="widget-title"><h3>关注我<span class="sub-title orange">Follow Me</span></h3></div>
                <div class="widget-item">
                    <ul class="followme center">
                        <li class="orange-bg jtooltip" title="点击关注我的新浪微博">
                            <a href="https://weibo.com/5804840391" class="follow-icon"><i class="fa fa-weibo"></i></a>
                        </li>
                        <li class="blue-bg jtooltip" title="点击与我QQ交谈">
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=493674592&site=qq&menu=yes" class="follow-icon"><i class="fa fa-qq"></i></a>
                            </li>
                        <li class="green-bg" id="wechat" qrcode=" <img src='/home/picture/6446d860dbbfe540e9e2.png' />">
                            <a href="#" class="follow-icon"><i class="fa fa-weixin"></i></a>
                        </li>
                        <li class="red-bg jtooltip" title="订阅我们">
                            <a href="http://www.ldstars.com/feed" class="follow-icon"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="hometop">
                    <h3 class="hometitle navy-bg">最新文章</h3>
                    <ul>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="给iPhone的信息添加多彩炫酷的动画效果"><span class="hometime">02-12</span>给iPhone的信息添加多彩炫酷的动画效果</a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="苹果产品为什么选择锂离子电池？"><span class="hometime">02-11</span>苹果产品为什么选择锂离子电池？</a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="arduino入门教程基础-模拟读取串口"><span class="hometime">02-10</span>arduino入门教程基础-模拟读取串口</a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="苹果官方 iPhone、iPad 和 iPod touch 电池保养小提示"><span class="hometime">02-10</span>苹果官方 iPhone、iPad 和 iPod touch 电池保养小提示</a></li>
                        <li>
                            <a href="#" target="_blank" class="jtooltip" rel="bookmark" title="苹果官方延长电池使用时间和寿命方法"><span class="hometime">02-09</span>苹果官方延长电池使用时间和寿命方法</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="widget-box">
                <div class="widget-title"><h3>最新文章<span class="sub-title orange">Top Articles</span></h3></div>
                <div class="widget-item">
                    <ul class="widget-rank">
                        <li><a href="" class="jtooltip" title="翻墙利器谷歌插件时空隧道VIP破解版">翻墙利器谷歌插件时空隧道VIP破解版</a>
                        </li>
                        <li><a href="" class="jtooltip" title="比红杏出墙和时空隧道更好用的方法">比红杏出墙和时空隧道更好用的方法</a>
                        </li>
                        <li><a href="" class="jtooltip" title="破解百度网盘VIP会员极速下载功能">破解百度网盘VIP会员极速下载功能</a>
                        </li>
                        <li><a href="" class="jtooltip" title="echo回声网音乐下载最新教程（上）">echo回声网音乐下载最新教程（上）</a>
                        </li>
                        <li><a href="" class="jtooltip" title="echo回声电脑在线版无法播放解决方法">echo回声电脑在线版无法播放解决方法</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"><h3>文章排行<span class="sub-title orange">Top Articles</span></h3></div>
                <div class="widget-item">
                    <ul class="widget-rank">
                        <li><a href="" class="jtooltip" title="翻墙利器谷歌插件时空隧道VIP破解版">翻墙利器谷歌插件时空隧道VIP破解版</a>
                        </li>
                        <li><a href="" class="jtooltip" title="比红杏出墙和时空隧道更好用的方法">比红杏出墙和时空隧道更好用的方法</a>
                        </li>
                        <li><a href="" class="jtooltip" title="破解百度网盘VIP会员极速下载功能">破解百度网盘VIP会员极速下载功能</a>
                        </li>
                        <li><a href="" class="jtooltip" title="echo回声网音乐下载最新教程（上）">echo回声网音乐下载最新教程（上）</a>
                        </li>
                        <li><a href="" class="jtooltip" title="echo回声电脑在线版无法播放解决方法">echo回声电脑在线版无法播放解决方法</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="widget-box">
                <div class="widget-title"><h3>最新评论<span class="sub-title orange">New Comments</span></h3></div>
                <div class="widget-item">
                    <ul class="comments_list">
                        <li>
                            <div class='comments_author clearfix'>
                                <img alt='' src='/home/picture/f212f7c2b666433bbd7f5c3efee5d4b2.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=64&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-32 photo' height='32' width='32'/><span>King</span></div>
                            <div class='comments_info'>谢谢，你现在的主题很棒</div>
                            <div class='comments_article'><i class='fa fa-quote-left red'></i>发表在：<a
                                    href="http://www.ldstars.com/message" class='jtooltip' title='点击查看-留言板'>留言板</a>
                            </div>
                        </li>
                        <li>
                            <div class='comments_author clearfix'>
                                <img alt='' src='/home/picture/2c81f3da5daa47a8b34fb33511e2ea90.gif' srcset='http://2.gravatar.com/avatar/ee31232409db7f7ea10466dd403c0845?s=64&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-32 photo' height='32' width='32'/><span>张弦先生</span>
                            </div>
                            <div class='comments_info'>之前买过博主的第一款主题。现在的主题更不错，张弦先生来访，欢迎回访</div>
                            <div class='comments_article'>
                                <i class='fa fa-quote-left red'></i>发表在：<a href="http://www.ldstars.com/message" class='jtooltip' title='点击查看-留言板'>留言板</a>
                            </div>
                        </li>
                        <li>
                            <div class='comments_author clearfix'><img alt='' src='/home/picture/819189031f074dfb967b8ef267d0531f.gif' srcset='http://0.gravatar.com/avatar/9442c38c92b265bb0341c1433103add7?s=64&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-32 photo' height='32' width='32'/><span>54台</span></div>
                            <div class='comments_info'>很不错啊</div>
                            <div class='comments_article'>
                                <i class='fa fa-quote-left red'></i>发表在：<a href="http://www.ldstars.com/links" class='jtooltip' title='点击查看-友情链接'>友情链接</a>
                            </div>
                        </li>
                        <li>
                            <div class='comments_author clearfix'>
                                <img alt='' src='/home/picture/f212f7c2b666433bbd7f5c3efee5d4b2.gif' srcset='http://0.gravatar.com/avatar/9442c38c92b265bb0341c1433103add7?s=64&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-32 photo' height='32' width='32'/><span>King</span>
                            </div>
                            <div class='comments_info'>现在已被屏蔽。我再放上去，我的网站就被屏蔽咯</div>
                            <div class='comments_article'>
                                <i class='fa fa-quote-left red'></i>发表在：
                                <a href="http://www.ldstars.com/freevpn" class='jtooltip' title='点击查看-免费VPN账号获取'>免费VPN账号获取</a>
                            </div>
                        </li>
                        <li>
                            <div class='comments_author clearfix'>
                                <img alt='' src='/home/picture/afb136a1fbb8441c92f64cb3a2313bf7.gif' srcset='http://2.gravatar.com/avatar/b9cd8d7be31a51a09c61b2aca4786b06?s=64&amp;d=monsterid&amp;r=g 2x' class='avatar avatar-32 photo' height='32' width='32'/>
                                <span>naive</span>
                            </div>
                            <div class='comments_info'>浏览器换了无数个都看不到密码</div>
                            <div class='comments_article'>
                            <i class='fa fa-quote-left red'></i>发表在：
                                <a href="http://www.ldstars.com/freevpn" class='jtooltip' title='点击查看-免费VPN账号获取'>免费VPN账号获取</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="widget-box">
                <div class="widget-title"><h3>友情链接<span class="sub-title orange">Friend Links</span></h3></div>
                <div class="widget-item">
                    <ul class="widget-links">
                        <li><a href="">加油站</a></li>
                        <li><a href="" target="_blank">喵呜网</a></li>
                        <li><a href="" target="_blank">技术部落</a></li>
                        <li><a href="" rel="me" target="_blank">音乐外链</a></li>
                        <li>[<a href="/links">申请友情链接</a>]</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //Widget-Box -->


